In [16]:
import pandas as pd
import numpy as np

In [17]:
# Load the patient dataset
patient_data = pd.read_csv(r'c:\Users\Admin\Documents\EXCELR\DS Assignments\@\Patient_Data.csv')

# Show basic info about the dataset
print("=== STEP 1: PATIENT DATA INFO ===")
print("Dataset shape:", patient_data.shape)
print("\nData types:")
print(patient_data.dtypes)

=== STEP 1: PATIENT DATA INFO ===
Dataset shape: (6, 7)

Data types:
PatientID           int64
Name               object
Department         object
Doctor             object
BillAmount        float64
ReceptionistID      int64
CheckInTime        object
dtype: object

In [18]:
print("\nFirst 5 rows:")
print(patient_data.head())

First 5 rows:
   PatientID     Name   Department     Doctor  BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith      5000.0               1
1        102      Bob    Neurology   Dr. John         NaN               2
2        103  Charlie  Orthopedics    Dr. Lee      7500.0               1
3        104    David   Cardiology  Dr. Smith      6200.0               3
4        105      Eva  Dermatology   Dr. Rose         NaN               2

        CheckInTime
0  2023-01-10 09:00
1  2023-01-11 10:30
2  2023-01-12 11:00
3  2023-01-13 12:00
4  2023-01-14 08:45

In [19]:
print("\nSummary statistics:")
print(patient_data.describe())

Summary statistics:
        PatientID   BillAmount  ReceptionistID
count    6.000000     4.000000        6.000000
mean   102.666667  5925.000000        1.666667
std      1.632993  1192.686044        0.816497
min    101.000000  5000.000000        1.000000
25%    101.250000  5000.000000        1.000000
50%    102.500000  5600.000000        1.500000
75%    103.750000  6525.000000        2.000000
max    105.000000  7500.000000        3.000000

In [20]:
# Select only columns relevant for billing
billing_columns = ['PatientID', 'Department', 'Doctor', 'BillAmount']
patient_data_billing = patient_data[billing_columns]

print("\n STEP 2: SELECTED BILLING COLUMNS ")
print(patient_data_billing.head())

 STEP 2: SELECTED BILLING COLUMNS
   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN

In [21]:
# Drop administrative columns
patient_data_clean = patient_data.drop(['ReceptionistID', 'CheckInTime'], axis=1)

print("\nSTEP 3: AFTER DROPPING ADMINISTRATIVE COLUMNS ")
print(patient_data_clean.head())

STEP 3: AFTER DROPPING ADMINISTRATIVE COLUMNS
   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN

In [22]:
# Group by department and sum bill amounts
department_totals = patient_data.groupby('Department')['BillAmount'].sum().reset_index()
department_totals.columns = ['Department', 'TotalBillAmount']

print("\n STEP 4: TOTAL BILL AMOUNT PER DEPARTMENT ")
print(department_totals)

 STEP 4: TOTAL BILL AMOUNT PER DEPARTMENT
    Department  TotalBillAmount
0   Cardiology          16200.0
1  Dermatology              0.0
2    Neurology              0.0
3  Orthopedics           7500.0

In [23]:
# Remove duplicates based on PatientID
patient_data_deduped = patient_data.drop_duplicates(subset=['PatientID'])

print("\n| STEP 5: AFTER REMOVING DUPLICATES ")
print("Original shape:", patient_data.shape)
print("After removing duplicates:", patient_data_deduped.shape)
print("\nDeduplicated data:")
print(patient_data_deduped)

| STEP 5: AFTER REMOVING DUPLICATES
Original shape: (6, 7)
After removing duplicates: (5, 7)

Deduplicated data:
   PatientID     Name   Department     Doctor  BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith      5000.0               1
1        102      Bob    Neurology   Dr. John         NaN               2
2        103  Charlie  Orthopedics    Dr. Lee      7500.0               1
3        104    David   Cardiology  Dr. Smith      6200.0               3
4        105      Eva  Dermatology   Dr. Rose         NaN               2

        CheckInTime
0  2023-01-10 09:00
1  2023-01-11 10:30
2  2023-01-12 11:00
3  2023-01-13 12:00
4  2023-01-14 08:45

In [24]:
# Calculate mean bill amount
mean_bill = patient_data_deduped['BillAmount'].mean()
print(f"\nMean bill amount: {mean_bill}")

# Fill missing values with mean
patient_data_filled = patient_data_deduped.copy()
patient_data_filled['BillAmount'] = patient_data_filled['BillAmount'].fillna(mean_bill)

print("\n STEP 6: AFTER FILLING MISSING VALUES ")
print(patient_data_filled)

Mean bill amount: 6233.333333333333

 STEP 6: AFTER FILLING MISSING VALUES
   PatientID     Name   Department     Doctor   BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith  5000.000000               1
1        102      Bob    Neurology   Dr. John  6233.333333               2
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000               1
3        104    David   Cardiology  Dr. Smith  6200.000000               3
4        105      Eva  Dermatology   Dr. Rose  6233.333333               2

        CheckInTime
0  2023-01-10 09:00
1  2023-01-11 10:30
2  2023-01-12 11:00
3  2023-01-13 12:00
4  2023-01-14 08:45

In [25]:
# Load billing data
billing_data = pd.read_csv(r"C:\Users\Admin\Documents\EXCELR\DS Assignments\@\Billing_Data.csv")

# Merge with patient data
merged_data = pd.merge(patient_data_filled, billing_data, on='PatientID', how='left')

print("\n STEP 7: MERGED DATASET ")
print(merged_data)

 STEP 7: MERGED DATASET
   PatientID     Name   Department     Doctor   BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith  5000.000000               1
1        102      Bob    Neurology   Dr. John  6233.333333               2
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000               1
3        104    David   Cardiology  Dr. Smith  6200.000000               3
4        105      Eva  Dermatology   Dr. Rose  6233.333333               2

        CheckInTime  InsuranceCovered  FinalAmount
0  2023-01-10 09:00              2000         3000
1  2023-01-11 10:30              1500         3500
2  2023-01-12 11:00              2500         5000
3  2023-01-13 12:00              3000         3200
4  2023-01-14 08:45              1000         4000

In [26]:
# Create new patients dataframe
new_patients = pd.DataFrame({
    'PatientID': [106, 107],
    'Name': ['Frank', 'Grace'],
    'Department': ['Pediatrics', 'Oncology'],
    'Doctor': ['Dr. Brown', 'Dr. White'],
    'BillAmount': [4500.0, 6800.0],
    'ReceptionistID': [2, 1],
    'CheckInTime': ['2023-01-15 10:00', '2023-01-16 11:30'],
    'InsuranceCovered': [1800, 2200],
    'FinalAmount': [3800, 4500]
})

# Concatenate with existing data
final_data = pd.concat([merged_data, new_patients], ignore_index=True)

print("\n STEP 8: AFTER ADDING NEW PATIENTS ")
print(final_data)

 STEP 8: AFTER ADDING NEW PATIENTS
   PatientID     Name   Department     Doctor   BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith  5000.000000               1
1        102      Bob    Neurology   Dr. John  6233.333333               2
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000               1
3        104    David   Cardiology  Dr. Smith  6200.000000               3
4        105      Eva  Dermatology   Dr. Rose  6233.333333               2
5        106    Frank   Pediatrics  Dr. Brown  4500.000000               2
6        107    Grace     Oncology  Dr. White  6800.000000               1

        CheckInTime  InsuranceCovered  FinalAmount
0  2023-01-10 09:00              2000         3000
1  2023-01-11 10:30              1500         3500
2  2023-01-12 11:00              2500         5000
3  2023-01-13 12:00              3000         3200
4  2023-01-14 08:45              1000         4000
5  2023-01-15 10:00              1800         3800
6  2023-01-16 11:30              2200         4500

In [27]:
# Final data cleaning
final_cleaned_data = final_data.copy()

# Ensure proper data types
final_cleaned_data['PatientID'] = final_cleaned_data['PatientID'].astype(int)
final_cleaned_data['BillAmount'] = final_cleaned_data['BillAmount'].astype(float)

print("\n STEP 9: FINAL CLEANED DATASET ")
print("Final dataset shape:", final_cleaned_data.shape)
print("\nData types:")
print(final_cleaned_data.dtypes)
print("\nMissing values:")
print(final_cleaned_data.isnull().sum())
print("\nFirst 10 rows:")
print(final_cleaned_data.head(10))

 STEP 9: FINAL CLEANED DATASET
Final dataset shape: (7, 9)

Data types:
PatientID             int64
Name                 object
Department           object
Doctor               object
BillAmount          float64
ReceptionistID        int64
CheckInTime          object
InsuranceCovered      int64
FinalAmount           int64
dtype: object

Missing values:
PatientID           0
Name                0
Department          0
Doctor              0
BillAmount          0
ReceptionistID      0
CheckInTime         0
InsuranceCovered    0
FinalAmount         0
dtype: int64

First 10 rows:
   PatientID     Name   Department     Doctor   BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith  5000.000000               1
1        102      Bob    Neurology   Dr. John  6233.333333               2
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000               1
3        104    David   Cardiology  Dr. Smith  6200.000000               3
4        105      Eva  Dermatology   Dr. Rose  6233.333333               2
5        106    Frank   Pediatrics  Dr. Brown  4500.000000               2
6        107    Grace     Oncology  Dr. White  6800.000000               1

        CheckInTime  InsuranceCovered  FinalAmount
0  2023-01-10 09:00              2000         3000
1  2023-01-11 10:30              1500         3500
2  2023-01-12 11:00              2500         5000
3  2023-01-13 12:00              3000         3200
4  2023-01-14 08:45              1000         4000
5  2023-01-15 10:00              1800         3800
6  2023-01-16 11:30              2200         4500

In [28]:
# Department-wise revenue analysis
dept_revenue = final_cleaned_data.groupby('Department').agg({
    'BillAmount': 'sum',
    'InsuranceCovered': 'sum',
    'FinalAmount': 'sum'
}).reset_index()

print("\n=== DEPARTMENT-WISE REVENUE ANALYSIS ===")
print(dept_revenue)

# Doctor performance analysis
doctor_performance = final_cleaned_data.groupby('Doctor').agg({
    'PatientID': 'count',
    'BillAmount': 'mean'
}).reset_index()
doctor_performance.columns = ['Doctor', 'PatientCount', 'AverageBillAmount']

print("\n=== DOCTOR PERFORMANCE ANALYSIS ===")
print(doctor_performance)

=== DEPARTMENT-WISE REVENUE ANALYSIS ===
    Department    BillAmount  InsuranceCovered  FinalAmount
0   Cardiology  11200.000000              5000         6200
1  Dermatology   6233.333333              1000         4000
2    Neurology   6233.333333              1500         3500
3     Oncology   6800.000000              2200         4500
4  Orthopedics   7500.000000              2500         5000
5   Pediatrics   4500.000000              1800         3800

=== DOCTOR PERFORMANCE ANALYSIS ===
      Doctor  PatientCount  AverageBillAmount
0  Dr. Brown             1        4500.000000
1   Dr. John             1        6233.333333
2    Dr. Lee             1        7500.000000
3   Dr. Rose             1        6233.333333
4  Dr. Smith             2        5600.000000
5  Dr. White             1        6800.000000